@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, budding jokesters and comedians!</h1>
    <p>We welcome you to a community-sourced database of jokes. Browse and contribute at your leisure.</p>
</div>
