@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Thanks for visiting the Privacy page! As this a personal project with no user base, there is no specific privacy policy to detail here.</p>

<p>Happy trails!</p>
